.App {
  text-align: center;
  background-color: #282c34;
}

.Container{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  margin: 40px;
  padding: 20px;
}
.Container input{
  margin: 20px;
}
.Container div span{
  color: red;
}

.App-link {
  color: #61dafb;
}

.pnf h2 span{
  color: red;
  letter-spacing: 5px;
}

#button{
  display: flex;
  justify-content: flex-end;

}
.button{
  margin: 5%;
}
.title{
  font-size: Larger;
  margin: 5%;
  letter-spacing: 3px;
  border:2px solid white;
  padding: 3%;
}
.paragraphe{
  font-size: smaller;
  text-align: justify-all;
  padding: 2% 10% 0 10%;

}
